server:
  port: 8080

spring:
  application:
    name: voto
  datasource:
    url: jdbc:h2:mem:mydb
    username: forms
    password: 123
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    show-sql: true
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-ui
